
body {
    background-color: hsl(0, 0%, 98%);
    font-family: 'Epilogue';
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 1.5em 1em 0em;
    padding: 0px 10px;
}

nav .logo {
    padding-top: 0.8em;
}

nav .links {
    display: flex;
    justify-content: space-between;
    margin-left: -27em;
    margin-top: -0.6em;
}

#career, #about, #company, #feature {
    margin-right: 30px;
    padding: 0px 5px;
    text-decoration: none;
}

.dropdowns {
    position: relative;
}

.dropdowns h4 {
    cursor: pointer;
    color: hsl(0, 0%, 41%);
    font-weight: 500;
}

.dropdowns h4:hover {
    color: hsl(0, 0%, 8%);
}

.dropdowns #feature #arrow-up  {
    position: absolute;
    top: 1.8em;
    left: 5em;
    display: none;
}

.dropdowns #company #up-arrow {
    position: absolute;
    top: 1.8em;
    left: 5.2em;
    display: none;
}

.drop-menu {
    display: none;
    position: absolute;
    border-radius: 5px;
    background-color: white;
    box-shadow: 5px 5px 20px hsl(0, 1%, 60%);
}

.drop-menu.work{
    padding: 10px 14px;
    width: 7.5em;
    line-height: 2em;
    right: 2.2em;
    top: 2.5em;
}

.drop-menu.work img {
    padding: 2px 9px 0px;
}

.drop-menu.info {
    padding: 10px 18px;
    line-height: 2em;
    top: 2.5em;
    left: 0.3em;
    width: 5em;
}

.drop-menu li {
    list-style: none;
}

.drop-menu a, nav .links a {
    text-decoration: none;
    cursor: pointer;
    color: hsl(0, 0%, 41%);
    font-weight: 500;
}

.drop-menu a:hover, nav .links a:hover {
    color: hsl(0, 0%, 8%);
}

.dropdowns:hover #feature #arrow-down, .dropdowns:hover #company #down-arrow {
    display: none;
}  

.dropdowns:hover #feature #arrow-up, .dropdowns:hover #company #up-arrow {
    display: block;
    color: hsl(0, 0%, 8%);
}  

.dropdowns:hover .drop-menu {
    display: block;
}

.buttons #login {
    margin: 0px 10px 0px 0px;
    padding: 10px 20px;
    border: none;
    background-color: hsl(0, 0%, 98%);
    cursor: pointer;
    color: hsl(0, 0%, 41%);
    font-weight: 500;
}

.buttons #login:hover {
    color: hsl(0, 0%, 8%);
}

.buttons #register {
    padding: 10px 30px;
    border-radius: 15px;
    background-color: hsl(0, 0%, 98%);
    cursor: pointer;
    color: hsl(0, 0%, 41%);
    border: 1px solid hsl(0, 0%, 41%);
    font-weight: 500;
}

.buttons #register:hover {
    color: hsl(0, 0%, 8%);
    border: 1px solid hsl(0, 0%, 8%);
}

main {
    display: flex;
    margin: 4em 8em;
    width: 82vw;
    height: 85vh;
}

main .textArea {
    margin-top: 2.2em;
    width: 55%;
    padding: 0px 80px 0px 45px;
}

main .textArea #heading {
    width: 82%;
    color: hsl(0, 0%, 8%);
    font-weight: 700;
    font-size: 68px;
}

main .textArea #text {
    width: 78%;
    line-height: 1.3em;
    margin: 40px 0px;
    font-size: 18px;
    color: hsl(0, 0%, 41%);
}

main .textArea #learnMore {
    padding: 12px 40px;
    border-radius: 15px;
    background-color: hsl(0, 0%, 98%);
    cursor: pointer;
    background-color: hsl(0, 0%, 8%);
    border: 1px solid hsl(0, 0%, 8%);
    color: hsl(0, 0%, 98%);
    font-weight: 700;
}

main .textArea #learnMore:hover {
    color: hsl(0, 0%, 8%);
    border: 1px solid hsl(0, 0%, 8%);
    background-color: hsl(0, 0%, 98%);
}

main .textArea #clients {
    margin-top: 8.2em;
}

main .textArea #clients img {
    margin-right: 30px;
    width: 5.2em;
}

main .textArea #clients #client2 {
    width: 4em;
}

main .imageArea {
    /* background-image: url("./images/image-hero-desktop.png");
    background-repeat: no-repeat;
    background-size: cover; */
    width: 45%;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    background-color: bisque;
    padding: 5px;
    border: 3px double orchid;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
